body {

    background: url("../images/points.jpg");
    background-size: cover;
    padding: 0;
    margin: 0 auto;
}
.container {

    margin: 25px auto;
    width: 900px;
    margin-top: 140px;
}

.content {
    width: 400px;
    height: 300px;
    margin: 0 auto;
    padding: 25px 0 0;
    background: #d3bbe2;
    text-align: center;
    border-radius: 20px;
    box-shadow: 0 1px 0 #5be29f inset;


}

.content h1 {

    font-family: SansSerif,Arial;
    font-size: 25px;
    text-transform: uppercase;
    color: #049a30;
    letter-spacing: 0.02em;
    padding-bottom: 10px;
    font-weight: bolder;
}
.wrapper {

    background: #eae7e7;
    width: 300px ;
    height: 45px;
    margin: 0 auto;
    margin-bottom: 10px;
    border: 1px solid gainsboro;
    border-radius: 5px;
    box-shadow: inset 0 0 8px #12403d;
}


.wrapper input {

    width: 300px;
    height: 45px;
    background: transparent;
    border: 0;
    outline: none;
    color: #323307;
    padding: 10px;
}

.country {

    background: #eae7e7;
    width: 250px ;
    height: 45px;
    margin: 10px auto;
    border: 1px solid gainsboro;
    border-radius: 5px;
    box-shadow: inset 0 0 8px #02003a;
}

.country select {

    width: 200px;
    height: 45px;
    background: transparent;
    border: 0;
    outline: none;
    color: #333;
    padding: 5px;
    font-weight: bolder;

}

input[type="submit"]{

    width: 150px;
    height: 40px;
    border-radius: 40px;
    border: 0;
    outline: none;
    background: rgb(254,231,154);
    background: -webkit-linear-gradient(top,rgba(254,232,154,1)0%,rgba(254,193,81,1)100%);
    box-shadow: 0 1px 0 rgba(255,255,255,0.8)inset;
    cursor: pointer;
    color: #85592e;
    font-family: sans-serif,Arial;
    font-size: 16px;
    font-weight: bold;
    margin-top: 26px;
}

input[type="submit"]:hover{

    background: -webkit-linear-gradient(top,rgba(254,193,81,1)0%,rgba(254,232,154,1)100%);
}

.msg{

    font-size: 17px;
    color: red;
    font-weight: bolder;
}











