body {

    padding: 0;
    margin: 0 auto;
}
.container {

    margin: 25px auto;
    width: 900px;
    margin-top: 140px;
}

#content {
    width: 400px;
    height: 300px;
    margin: 0 auto;
    padding: 25px 0 0;
    background: #E2DEA1;
    text-align: center;
    border-radius: 20px;
    box-shadow: 0 1px 0 #E2DEA1 inset;


}

#content h1 {

    font-family: SansSerif,Arial;
    font-size: 25px;
    font-weight: bold;
    color: gray;
    letter-spacing: -0.05em;
}
.wrapper {

    background: #eae7e7;
    width: 300px ;
    height: 45px;
    margin: 0 auto;
    margin-bottom: 10px;
    border: 1px solid gainsboro;
    border-radius: 5px;
    box-shadow: inset 0 0 8px #000000;
}


.wrapper input {

    width: 300px;
    height: 45px;
    background: transparent;
    border: 0;
    outline: none;
    color: #333;
    padding: 10px;
}

textarea{

    background: #eae7e7;
    border-radius: 20px;
    padding: 20px;
    resize: none;
    outline: none;

}

input[type="submit"]{

    width: 150px;
    height: 40px;
    border-radius: 40px;
    border: 0;
    outline: none;
    background: rgb(254,231,154);
    background: -webkit-linear-gradient(top,rgba(254,232,154,1)0%,rgba(254,193,81,1)100%);
    box-shadow: 0 1px 0 rgba(255,255,255,0.8)inset;
    cursor: pointer;
    color: #85592e;
    font-family: sans-serif,Arial;
    font-size: 16px;
    font-weight: bold;
    margin-top: 25px;
}

input[type="submit"]:hover{

    background: -webkit-linear-gradient(top,rgba(254,193,81,1)0%,rgba(254,232,154,1)100%);
}

.msg{

    padding: 10px;
    color: blue;
    font-weight: bolder;
}